{% extends 'base.html'%}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">All the categories of products</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                {% for category in categories %}

                
                <a href="{% url 'Category' category %}"><h3>{{ category }}</h3></a>

                {% endfor %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</p>
            </div>
        </center>

    </div>

</div>
{%endblock%}