{% extends 'base.html'%}
{% block content %}

<div class="container">
    <br>
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <center>
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>

              {% if product.is_on_sale %}
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
             </div>
                <strike>
                  KSh {{product.price}}
                </strike>
                &nbsp; KSh {{product.sale_price}}
                {% else %}
                KSh {{product.price}}
                {% endif %}
                <br></br>
                <div class="row justify-content-center">
                  <div class="col-md-2">Quantity:
                  </div>
                  <div class="col-md-2">
                  <select class="form-select form-select-sm" id="qty-selected">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                  </select>
                </div>
                
              </div>
                
                
                <br><br>
              <a href="{%url 'index' %}" class="btn btn-secondary">Home</a>
              <button type="button" class="btn btn-secondary" value="{{product.id}}" id="add-cart">Add to Cart</button>
            </center>
            </div>
          </div>
        </div>
      </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<script>
  var cartAddUrl = "{% url 'cart_add' %}";
  // Chech if the button is pressed
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: cartAddUrl,
      data:{
        product_id: $("#add-cart").val(),
        product_quantity: $("#qty-selected option:selected").text(),
        csrfmiddlewaretoken:'{{csrf_token}}',
        action: 'post'
      },
      success:function(json){
      document.getElementById("cart_quantity").textContent  = json.Qty
      location.reload();
    },
    error:function(xhr, errmsg, err){

    }
    });

    
  })
</script>
{%endblock%}