{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Billing Info Page</h1>
                <p class="lead fw-normal text-white-50 mb-0">Enter Your payment option...</p>
            </div>
        </div> 
    </header>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Order Summary
                    </div>
                    <div>
                        {% for product in cart_products %}
                {{ product.name }}: 
                    {% if product.is_on_sale %}
                    KSh {{ product.sale_price }}
                    {% else %}
                    KSh {{ product.price }}
                {% endif %}

                <br/>
                <small>Quantity: 
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Total:  KSh {{ totals }}
                        <br><br>
                        <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                    </div>
                </div>
                <br><br>
                <div class="card">
                    <div class="card-header">
                      Shipping Information
                    </div>
                        <div class="card-body">
                            <strong>Name: </strong>{{ shipping_form.shipping_full_name }} <br>
                            <strong>Email: </strong >{{ shipping_form.shipping_email }} <br>
                            <strong>City: </strong>{{ shipping_form.shipping_city }} <br>
                            <strong>Address: </strong>{{ shipping_form.shipping_address }} <br>
                            <strong>County: </strong>{{ shipping_form.shipping_county }} <br>
                            <br>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping Info</a>
                            
                        </div>
                </div>


                <center>
                    {{ paypal_form.render }}
                </center>

                <br><br>

                <center>
                    <a href="{% url 'initiate_payment' %}" class="btn btn-outline-success">MPESA</a>

                </center>
                
               
                

                <br>

                <div class="card">
                    <div class="card-header">Billing Info</div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'process_order' %}">
                                {% csrf_token %}
                                {{ billing_form.as_p }}
                            
                        </div>
                </div>
                  <button type="submit" class="btn btn-success">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
{% endblock %}
