{% extends 'base.html'%}


{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Cart Summary</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to your cart...</p>
                </div>
            </div>
        </header>
        <br>
        <div class="container">
            {{cart_products}}
        </div>
        
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {%endblock%}
       
