{% extends 'base.html'%}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Africart</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">

<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia luctus lorem, vitae tincidunt nulla hendrerit ut. Nam efficitur augue et orci fermentum condimentum. Integer gravida, nisi sit amet placerat luctus, lorem justo euismod massa, in feugiat arcu ligula ut odio. Donec ac posuere diam, a cursus lorem. Nulla non faucibus erat, vitae tristique justo. Nam dapibus condimentum vestibulum. Sed efficitur dignissim diam. Duis semper eleifend ultrices. Cras nisi felis, rhoncus in magna ut, tincidunt dignissim urna. Nunc luctus, neque sit amet egestas placerat, justo mi accumsan libero, ac congue nulla augue id est. Pellentesque vel aliquet lacus.
<br><br>
In non nisl diam. Quisque vulputate justo purus, mollis imperdiet arcu sollicitudin vitae. Sed posuere mauris sit amet dolor condimentum tempor. Nulla et lectus non nisi sodales lobortis. Donec sed neque eu mauris fermentum dignissim non eget ante. Aenean dictum congue interdum. Vivamus congue, turpis eget sagittis convallis, leo felis iaculis elit, sit amet volutpat tellus erat porttitor leo. Fusce posuere risus ut feugiat finibus. Nunc nisl eros, pharetra auctor nisl a, volutpat tincidunt justo. Praesent efficitur sagittis ipsum. In a semper sapien, quis mattis eros. Nullam enim massa, sollicitudin eget sagittis cursus, hendrerit nec justo. Morbi finibus at nulla ut aliquam. Aliquam id placerat mi. Sed vestibulum, nibh ac tincidunt dapibus, enim tellus ullamcorper est, vel bibendum nisi justo a justo.
<br> <br>
Pellentesque aliquam commodo orci id sodales. Duis nulla urna, porttitor at fringilla ut, hendrerit eu libero. In eu sem malesuada, imperdiet nulla ac, malesuada turpis. Nullam maximus sagittis laoreet. Mauris nisl odio, congue vel nunc eu, elementum sollicitudin urna. Vestibulum vestibulum pellentesque dui, vel vestibulum nunc. In vehicula nibh vitae tortor rutrum ultrices. Donec vestibulum mollis viverra. Sed dignissim elit neque, nec cursus ante faucibus at. Donec vestibulum dolor nulla, id vestibulum metus pellentesque nec. Aenean fermentum nunc elit, vitae consectetur enim scelerisque at. Donec quis porta neque, et porta est. Quisque molestie metus at tempus euismod. Etiam dignissim imperdiet mauris. Nam volutpat interdum magna, vel mollis magna eleifend at. 
<br>
</p>
            </div>
        </center>

    </div>

</div>
{%endblock%}