{% extends 'base.html'%}
{% block content %}

<div class="container">
    <br>
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <center>
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>

              {% if product.is_on_sale %}
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
             </div>
                <strike>
                    ${{product.price}}
                </strike>
                &nbsp; ${{product.sale_price}}
                {% else %}
                    ${{product.price}}
                {% endif %}
                <br></br>
                ID:  
                <br>
              <a href="{%url 'index' %}" class="btn btn-secondary">Home</a>
              <button type="" class="btn btn-secondary" value="{{product.id}}" id="add-cart">Add to Cart</button>
            </center>
            </div>
          </div>
        </div>
      </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url:"cart_add",
      data:{
        product_id:$("#add-cart").val(),
        csrfmiddlewaretoken:'{{csrf_token}}',
        action: 'post'
      },
      success:function(json){
      console.log(json)
    },
    error:function(xhr, errmsg, err){

    }
    });

    
  })
</script>
{%endblock%}